<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activePID</key>
	<integer>2213</integer>
	<key>busyMessage</key>
	<string>You can download and install this software when Software Update finishes its current installation.</string>
	<key>busyTitle</key>
	<string>Software Update is currently installing.</string>
	<key>confirm</key>
	<false/>
	<key>helpAnchor</key>
	<string>mh28042</string>
	<key>iconPath</key>
	<string>/System/Library/Frameworks/Carbon.framework/Frameworks/Print.framework/Resources/GenericPostscriptPrinter.icns</string>
	<key>legalTextType</key>
	<integer>2</integer>
	<key>noNetworkMessage</key>
	<string>The selected printer software is available from Apple, but you are not connected to the Internet.</string>
	<key>noNetworkTitle</key>
	<string>Software Update can’t check for updates because of a network problem.</string>
	<key>noServerTitle</key>
	<string>Software Update can’t connect to the Software Update Server.</string>
	<key>predicate</key>
	<string>("printing software" IN tags OR "printer update" IN tags) AND "MANUFACTURER:Hewlett-Packard;MODEL:HP Color LaserJet CP4520 Series" IN tags</string>
	<key>requireSLA</key>
	<true/>
	<key>title</key>
	<string>Would you like to download and install software for “HP Color LaserJet CP4520 Series [107A5A]”?</string>
</dict>
</plist>
